<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personal AI</title>
    <link rel="icon" type="image/png" href="/icons/logo.png" />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div class="flexrow">
      <img src="/icons/logo.png" class="icons" alt="Logo" />
      <a href="/html/login.html">
        <img
          src="<%=user.photos[0].value %>"
          class="icons"
          alt="Profile"
          id="login"
        />
      </a>
    </div>

    <div class="bottom">
      <p id="typing-text"></p>
    </div>

    <div class="footer">
      <div class="flexrow search">
        <form enctype="multipart/form-data">
          <input type="file" id="fileInput" multiple style="display: none" />
          <label for="fileInput" class="fileupload">
            <img src="/icons/upload.png" class="icons" alt="Upload Icon" />
          </label>
        </form>
        <input type="text" placeholder="What do you want !" />

        <img src="/icons/send.png" class="icons" />
      </div>
    </div>
    <script>
      // Get the user's display name from EJS
      const userName = '<%= user.displayName %>';
      // Construct the full text with proper spacing
      const fullText = `Hello ${userName} Welcome to your Personal Assistant`;
      let i = 0;
      const speed = 80;

      function textAnimate() {
        if (i < fullText.length) {
          document.getElementById('typing-text').textContent +=
            fullText.charAt(i);
          i++;
          setTimeout(textAnimate, speed);
        }
      }
    </script>
  </body>
</html>
