* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: monospace;
  color: white;
  overflow: hidden;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  background-color: #0f0f0f;
  background-size: 30px 30px;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.2) 5%,
    transparent 5%
  );
}

.flexrow {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin: 1.5rem 1.5rem 1.5rem 1.5rem;
}

/* .header {
  height: 35%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

#typing-text {
  font-size: 2em;
  font-family: 'Calibri';
  user-select: none;
}

/* #chatbot {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  padding-top: 10vh;
  font-size: 24px;
} */

.icons {
  width: 50px;
  cursor: pointer;
}

.bottom {
  height: 80vh;
  max-width: 720px;
  min-width: 380px;
  margin: auto;
  border: 1px dashed grey;
  /* background-color: #0f0f0f;
 background-size: 30px 30px;
  background-image: radial-gradient(
    rgba(144, 120, 120, 0.2) 5%,
    transparent 5%
  ); */
}

#typing-text {
  margin: 3em 2.5em 0em 2.5em;
}

input[type='file'] {
  display: none;
}

.fileupload {
  display: inline-block;
  cursor: pointer;
}

.search {
  width: 80%;
  max-width: 744px;
  min-width: 380px;
  background-color: rgb(25, 25, 25);
  border: 1px groove rgb(64, 64, 64);
  border-radius: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

input {
  height: 3.5rem;
  width: 80%;
  background-color: #1c1c1c;
  border-radius: 40px;
  border: none;
  color: white;
  border: 1px dashed rgb(73, 73, 73);
  font-size: 16px;
  outline: none;
  padding: 10px 10px;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
  #chatbot {
    margin-left: 5%;
    font-size: 20px;
  }

  .search {
    width: 90%;
  }

  .icons {
    height: 40px;
    width: 40px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    height: 30%;
  }

  #chatbot {
    font-size: 16px;
  }

  .search {
    width: 95%;
    /* padding: 8px 12px; */
  }

  input {
    font-size: 16px;
    padding: 20px;
  }

  .icons {
    height: 40px;
    width: 40px;
  }

  .footer {
    margin-bottom: 5vh;
  }
}
